---
---

@import "{{ site.theme }}";

// Our variables
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.page-header {
  display: grid;
  background-image: linear-gradient(135deg, #430098, #00A1E0);
}

.profile-picture {
  border: 5px solid #FFFFFF;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.project-name {
  grid-column: 2;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.project-tagline {
  grid-column: 2;
  padding-left: 50px;
  padding-right: 50px;
}

@import "base", "layout", "syntax-highlighting";
