---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('Feb 28, 2024')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    I'm <strong>James Vanderburg</strong>. I currently work for the
    <a href="https://www.pga.com">PGA of America</a> as a software engineer and a
    tech lead. I help build the PGA Coach and MyPGA apps, which support the golf
    coaching businesses of PGA Professionals nationwide. I primarily write software
    with Ruby on Rails and React, although Elixir has been occupying much of my tinkering
    lately.
  </p>

  <p>
    Prior to the PGA, I spent two years at <a href="https://usaa.com">USAA</a>
    building Spring Boot microservices as a part of their operation messaging organization.
    I helped build large, reactive systems to reach USAA's millions of members quickly.
    I also graduated from Texas A&M University with a degree in Computer Science,
    and spent a summer with the wonderful folks at <a
      href="https://launchscout.com">Launch Scout</a
    > as an intern.
  </p>
</Layout>
