---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("Feb 28, 2024")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm <strong>James Vanderburg</strong>. I currently work for the PGA of
		America as a software engineer and a tech lead. I help build the PGA Coach
		and MyPGA apps, which support the golf coaching businesses of PGA
		Professionals nationwide. I primarily write software with Ruby on Rails and
		React, although Elixir has been occupying much of my tinkering lately. Matz,
		José, thanks for your brilliant languages. I don't know what my career would
		look like without them, but I do know it would be less fun.
	</p>

	<p>
		I spent two years at USAA building Spring Boot microservices as a part of
		their operation messaging organization. I helped build large, reactive
		systems to reach USAA's millions of members quickly.
	</p>

	<p>
		Prior to USAA, I attended Texas A&M University in College Station, Texas. I
		majored in Computer Science and yelled myself hoarse as a part of the 12th
		Man. If you're a college football fan, I hope you get the chance to see Kyle
		Field at least once. It's a special place, and College Station is one of the
		best little college towns there is. Gig' em!
	</p>
</Layout>
