---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Howdy!</h1>
			<p>
				I'm James! I'm a software engineer and tech lead at the
				<a href="https://www.pga.com">PGA of America</a>, where I'm using Ruby
				on Rails, GraphQL, and React to build coaching tools for PGA
				Professionals around the country. I love reading, golfing (badly),
				trying new barbecue, and cheering on my favorite sports teams.
			</p>
		</main>
		<Footer />
	</body>
</html>
