---
layout: layouts/base.njk
---
<h1 class="text-5xl font-black pb-8">{{ title }}</h1>

<em class="prose md:prose-xl">{{ date }}</em>

<article class="prose md:prose-xl py-4 max-w-none prose-a:text-blue-600 hover:prose-a:text-blue-800"
  {{ content | safe }}
</article

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
