---
layout: layouts/base.njk
---
<article class="prose md:prose-xl">
    <blockquote>
        {{ content | safe }}
    </blockquote>
    <p class="text-gray-600 pl-8">&mdash; {{ citation | safe }}</p>
</article>